[submodule "mmocr"]
	path = mmocr
	url = https://github.com/open-mmlab/mmocr.git
[submodule "mmdetection"]
	path = mmdetection
	url = https://github.com/open-mmlab/mmdetection
[submodule "mmsegmentation"]
	path = mmsegmentation
	url = https://github.com/open-mmlab/mmsegmentation.git
